<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/form.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <link rel="stylesheet" href="/stylesheets/item.css" />
    <link rel="stylesheet" href="/stylesheets/category.css" />
    <link rel="shortcut icon" href="/images/cube.png" type="image/x-icon">
</head>
