.category-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.category-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    gap: 12px;
    width: clamp(250px, 100%, 500px);
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.category-name,
.category-description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-description {
    color: #64748b;
}

.update-category {
    color: white;
    background-color: #15803d;
}

.delete-category,
.delete-category-confirm {
    color: white;
    background-color: #b91c1c;
}

.update-category,
.delete-category,
.delete-category-cancel,
.delete-category-confirm {
    border-radius: 5px;
    padding: 6px 12px;
    width: min-content;
    white-space: nowrap;
}

.delete-category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.delete-category-warning {
    margin-bottom: 15px;
}

.delete-category-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-category-cancel {
    background-color: #e2e8f0;
    color: black;
}

.delete-category-confirm {
    font-size: 16px;
}
