.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-wrapper .title {
    margin-bottom: 10px;
}

.item-form {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 100%, 750px);
    padding: 15px;
    border-radius: 5px;
    gap: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.submit-btn {
    margin-top: 10px;
    padding: 12px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.error-text {
    color: #b91c1c;
}

.optional-text {
    color: #64748b;
}
