.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item-form,
.category-form {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 100%, 750px);
    padding: 15px;
    border-radius: 5px;
    gap: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.submit-btn {
    margin: 10px auto 0 auto;

    padding: 8px 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    width: min-content;
}

.error-text {
    color: #b91c1c;
}

.optional-text {
    color: #64748b;
}
