.item-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0 15px;
}

#item-title {
    text-align: center;
}

.item-image {
    max-width: 500px;
}

.item-name {
    overflow-wrap: anywhere;
}
