* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
    color: darkcyan;
}

body {
    padding: 50px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
    cursor: pointer;
}

button,
input,
select,
textarea {
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

input,
textarea,
select {
    background-color: #e2e8f0;
}

select {
    text-transform: capitalize;
    border-right: 10px solid transparent;
}

textarea {
    resize: vertical;
    min-height: 50px;
    max-height: 250px;
}
