* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
    color: darkcyan;
}

body {
    padding: 50px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
    cursor: pointer;
}

button,
input,
select {
    border: 0;
    border-radius: 5px;
}

select {
    text-transform: capitalize;
    border-right: 10px solid transparent;
}

button,
input,
select {
    padding: 10px;
}
